@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Stick+No+Bills&display=swap');

body{background-color: rgb(44, 44, 44);}

h1{color: rgb(77, 174, 219);
text-align: center;} 

h3{color: rgb(77, 174, 219);
    text-align: center;
    font-family:  'Bonheur Royale', cursive;
}                /* tag Selector */


div{
   
border: solid 1px lightgreen;
height: 425px;
width: 325px;
float: left;
margin-left: 50px;
margin-top: 20px;
}/* tag Selector */

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  height: 45%;
}


div p{
    text-align: center;
    color:white;
}/*disented selector*/